@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
	/* Colors */
	--red: red;
	--white: white;
	--black: black;
	--gray: #303030;
	--gray-light: #757575;
	/* Typo */
	--typo-title: 'Nanum Gothic', sans-serif;

	;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

img,
figure {
	max-width: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	object-fit: center center;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

video {
	max-width: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	object-fit: center center;
}

p a {
	display: inline;
}

li {
	list-style-type: none;
}

table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
}

::selection {
	background-color: var(--black);
	color: var(--white);
}

form,
button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	-webkit-hyphens: auto;
	hyphens: auto;
	background-color: transparent;
	display: flex;
	color: inherit;
}

body {
	font-family: var(--typo-title) !important;
	font-size: 100%;
	min-height: 100vh;
	background-color: var(--white);
	font-smooth: always;
	--webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.bg-img {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	filter: brightness(0.7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.img-brand {
	width: 2.5em;
	display: flex;
}

.box {
	background-color: #f8f9fa;
	padding: -1;
	position: relative;
	cursor: pointer;
}

.box:hover .image {
	filter: blur(5px);
}

.box .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: filter 0.5s ease-in-out;
}

.box .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.box:hover .caption {
	opacity: 1;
}

.box .caption-text {
	opacity: 0;
	transform: translateY(50%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.box:hover .caption-text {
	opacity: 1;
	transform: translateY(0%);
}